main {
    direction: rtl;
    text-align: right;
}
.col.hero-inner.wow.bounceInUp{
    text-align: center;
}
.h1-main-hero {
    color: red;
    font-size: 55px;
    font-weight: 800;
}
.section1 {
    margin-top: 50px;
}
.section1 h3 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 600;
}
.section1 .right form label {
    font-weight: 600;
}
.section1 .col-md-6.col-12 {
    padding: 0 40px;
}
.section1 .col-md-6.col-12.right {
    border-left: 3px solid;
}
.section1 .right form input.big {
    height: 150px;
}
.section1 .left i {
    font-size: 20px;
    margin: 0 !important;
}
.section1 .left p.title {
    display: inline-block;
    margin: 0 10px 10px 0;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid;
}
.section1 .left p.location {
    font-size: 15px;
    padding-right: 30px;
}
.section1 .right form input#formGroupExampleInput.submit {
    margin: 0 auto;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    background: #032e66;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.section1 .right form input#formGroupExampleInput.submit:hover {
    background: #032ECA;
}